/**
* =================
*      FONTS
* =================
**/
@font-face {
  font-family: "Segoe Mono";
  src: url("../fonts/segmono_boot.ttf");
}

/**
* =================
*     GLOBALS
* =================
**/
:root {
  --spacing: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  color: #fff;
}

body {
  text-rendering: optimizeLegibility;
  font-size: 16px;
}

div.container {
  position: relative;
  padding: var(--spacing);
  width: 100vw;
  min-height: 100vh;
  background-color: #0079d7;
}

/**
* ========================
*   (Part 1/4) Cursor
* ========================
**/
div#cursor {
  width: calc(var(--spacing) * 0.7);
  height: calc(var(--spacing) * 1.4);
  background-color: #c0c0c0;
  animation: blink 500ms infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/** 
* ========================
*   (Part 2/4) BSOD
* ========================
**/

div#bsod p {
  font-family: "Segoe Mono", monospace;
  margin-bottom: var(--spacing);
  font-size: 1.2rem;
  padding-right: 20%;
}

/** 
* ===================================
*   (Part 3/4) TV Grey Noise Screen
* ===================================
**/
canvas#noise-screen {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
